.projects__container {
    background-color: black;
    padding: 2% 10% 2%;
  }
  .projects__title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .project__item__container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }