.stack__icon{
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}
.stack__icon img{
    width: 100%;
    transition: .2s all ease-in;
}
.name__stack{
    opacity: 0;
    transition: 0.2s all ease-in;
}
.stack__icon:hover .name__stack{
    opacity: 100;
}
.stack__icon:hover img{
    transform: scale(1.1);
}