@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto+Slab:wght@400;500;700;900&family=Russo+One&family=Wendy+One&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
    font-family: 'Roboto Slab';
}