.skills__container {
  background-image: url("../../img/bc__skills2.jpg");
  min-height: 50vh;
  padding: 2% 10% 2%;
  background-size: cover;
  background-position: center;
}
.skills__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.stack__container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    width: 70%;
    margin: 1rem auto 0;
    justify-content: center;
}