.about__container {
  background-color: black;
  max-height: 100vh;
  padding: 2% 10% 2%;
}
.about__title {
  font-size: 2rem;
  border-bottom: 4px solid yellow;
  width: fit-content;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.about__img {
  width: 25%;
  position: relative;
  display: flex;
}
.about__img::before {
  content: " ";
  position: absolute;
  border: 4px solid yellow;
  height: 100%;
  width: 100%;
  left: -1rem;
  top: 1rem;
  border-radius: 10px;
}
.about__img img {
  width: 100%;
  height: auto;
  z-index: 10;
  border-radius: 10px;
}
.about__text__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  min-height: 20rem;
  gap: 2rem;
}
.text__content__title{
    font-weight: 500;
    font-size: 1.5rem;
}
.text__content__subtitle {
    font-size: 0.8rem;
    font-weight: 400;
}
.about__button {
  background-color: yellow;
  border: none;
  width: 60%;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in;
}
.about__button .load__icon{
  width: 10%;
  transition: all .3s ease-in;
}
.load__icon img{
  width: 100%;
}
.about__button:hover{
  background-color: rgba(255, 183, 0, 0.907);
}
.about__button:hover .load__icon {
  transform: scale(1.2);
}
.about__button:hover .load__text {
  font-size: 1.1rem;
}
.load__text{
  color: black;
  font-weight: 700;
  text-decoration: none;
  transition: .3s all ease-in;
}