@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
.project__container{
    width: 32%;
    background-color: #363636;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5%;
    min-height: 600px;
}
.project__container div{
    color: #CCCCCC;
    font-family: 'Poppins';
}
.project__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.project__icon img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 12px 5px #231e1e;
}
.project__title{
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 5px 5px 5px #231e1e; ;
}
.project__subtitle{
    font-weight: 300;
    font-size: 0.9rem;
}
.tech__stack{
    font-weight: 400;
    font-size: 0.7rem;
}
.project__links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.project__links a{
    font-size: 0.7rem;
    font-weight: 400;
    font-family: 'Poppins';
    color: #CCCCCC;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in;
}
.project__links a:hover{
    color: orange;
}
.project__links .preview__link::before{
    content: url("../../../img/preview.svg");
    position: absolute;
    left: -1.5rem;
}
.project__links .git__link::before{
    content: url("../../../img/git__link.svg");
    position: absolute;
    left: -1.5rem;
}
