nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 2rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 6rem;
}
.logo img {
  width: 100%;
  cursor: pointer;
}
.nav__list {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.nav__list a{
    text-decoration: none;
    transition: all .3s ease-in;
}
.nav__list a:hover{
  color:orange;
  border-bottom: 1px solid orange;
}
.linkedin{
  display: flex;
  gap: 5px;
}
.linkedin:hover{
  color:orange;
  border-bottom: 1px solid orange;
}
.linkedin:hover span{
  color:orange;
  /* border-bottom: 1px solid orange; */
}