.home__container {
  min-height: 20rem;
  background-image: url("../../img/backround.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home__img {
  max-width: 50%;
  height: 30rem;
}
.home__img img {
  width: 100%;
  height: 100%;
}
.home__name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home__name span {
  font-size: 1.5rem;
  font-family: 'Russo One';
}
.my__name {
  font-size: 4rem;
}
.home__name button{
    background-color:black;
    border: none;
    height: 2rem;
    width: 40%;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid yellow;
    margin-top: 1rem;
    transition: .3s ease-in;
    cursor: pointer;
}
.home__name button:hover{
    background-color:rgba(88, 73, 22, 0.8);
}