@tailwind base;
@tailwind components;
@tailwind utilities;
.contact__container {
  background-image: url("../../img/bc__contact.jpg");
  min-height: 50vh;
  padding: 2% 10% 2%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contact__title {
  flex-basis: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
form {
  margin-top: 1rem;
  flex-basis: 40%;
}
.form__title,
.touch__title {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.get__intouch {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 350px;
  padding: 0.5%;
}
.button {
  background-color: rgb(39, 36, 36);
  border: none;
  min-height: 2.5rem;
  min-width: 50%;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid yellow;
  margin-top: 1rem;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(88, 73, 22, 0.8);
}
.contact__data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact__data div {
  flex-basis: 10%;
}
.contact__data img {
  width: 100%;
}

.contact__data a {
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.2s all ease-in;
}
.contact__data a:hover {
  color: orange;
}
svg {
    fill: #5046e5;
    stroke: #5046e5;
  }