.footer__container {
    background-color: black;
    min-height: 50px;
    padding: 1% 10% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__container .logo{
    color: yellow;
    padding: 0.5%;
}
.footer__container .data{
    padding: 0.5%;
}